@import "..//../common/variable.common.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* background */
.bg-icon-bold {
  cursor: pointer;
  background-color: var(--main-color);
}
.bg-icon-light {
  cursor: pointer;
  background-color: var(--seven-color);
}
.bg-social {
  cursor: pointer;
  width: 48px !important;
  height: 48px !important;
  padding: 15px;
  background-color: var(--main-color);
}
.bg-social-light {
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 15px;
  background-color: var(--seven-color);
}

/* btn */
.btn-color {
  align-items: center;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 4px;
  color: var(--first-color);
  padding: 12px 24px;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--main-font);
}
.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 24px;
  font-family: var(--main-font);
  background: var(--first-color);
}
/* padding */
.p-25 {
  padding: 25px;
}
.p-17 {
  padding: 17px;
}
.pt-5 {
  padding-top: 5px;
}
.py-5 {
  padding: 5px 0;
}
.pb-5 {
  padding-bottom: 5px;
}
.p-20-300 {
  padding: 20px 300px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pt-80 {
  padding-top: 80px;
}
.pr-150 {
  padding-right: 150px;
}
.px-200 {
  padding: 0 210px;
}
.px-330 {
  padding: 0 330px;
}
/* margin */
.mg-bt-18 {
  margin: 18px 0;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-150 {
  margin-top: 150px;
}
.mr-20 {
  margin-right: 20px;
}
.my-10 {
  margin: 10px 0;
}
.my-15 {
  margin: 15px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-100 {
  margin: 70px 0;
}
.my-50 {
  margin: 50px 0;
}

/* flex box */
.d-flex {
  display: flex;
}
.gap-10 {
  gap: 30px;
}
/* grid layout */
.d-grid-3 {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.d-grid-4 {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* width % / 10 */
.w-4 {
  width: 40%;
}
.w-6 {
  width: 60%;
}

/* font-size fs*/
.fs-18 {
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
/* font-bold */
.bold-500 {
  font-weight: 500;
}
/* border-radius */
.rounded-4 {
  border-radius: 4px;
}
.rounded-10 {
  border-radius: 10px;
}
/* align item center */
.align-items-center {
  align-items: center;
}
