.formSubmitWrapper {
  background: var(--bg-first);
  height: 720px;
  position: relative;
}
.formSubmit {
  font-family: var(--main-font);
  padding: 88px;
  width: 1320px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  top: 7%;
  position: absolute;
  background: var(--first-color);
  box-shadow: var(--box-shadow);
}
.formSubmitHead {
  width: 481px;
  font-family: var(--main-font);
}
.formSubmitHead .title {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
}
.socialCard {
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 45px;
  padding-left: 30px;
  width: 264px;
  height: 72px;
  border-radius: 4px;
  background: var(--first-color);
}
.socialCard img {
  width: 18px;
  height: 18px;
}
.socialCard img:first-child {
  border-radius: 4px;
}
.formSubmit__right {
  font-family: var(--main-font);
  width: 560px;
  height: 492px;
}
.title {
  font-family: var(--main-font);
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.content {
  color: var(--six-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card {
  width: 336px;
  gap: 10px;
  background: var(--first-color);
}
.card:first-child {
  box-shadow: var(--box-shadow);
}
form input {
  font-size: 25px;
  outline: 0;
  padding: 15px 0;
  width: 100%;
  border-width: 0 0 2px;
  border-color: var(--eleven-color);
}
.inputBorderColor {
  outline: 0;
  width: 100%;
  border-width: 0 0 2px;
  border-color: var(--main-color);
}
::placeholder {
  font-family: var(--main-font);
  font-size: 18px;
}
.inputBorderColor::placeholder {
  position: absolute;
  top: 0;
  color: var(--main-color);
}
